/* position and dimensions of the navigator */
.navi {
 left: 50px;
    position: relative;
    text-align: center;
    top: -77px;
}


/* items inside navigator */
.navi span {

   /* width:8px;*/
   /* height:8px; */
    float:left;
    margin:3px 273px 3px 273px;
    display:block;
    font-size:12px;
	color:white; 
	text-decoration:none;
	text-transform:uppercase;
	font-weight:bold;
}
 
/* mouseover state */
.navi a:hover {
    background-position:0 -8px;
	color:white;
}
 
/* active state (current page state) */
.navi a.active {
    background-position:0 -16px;
}